.footer{
    position: absolute;
    min-height: 70vh;
    background-color: rgb(52, 128, 226);
    margin-top: 20px;
    margin-bottom: 0px;
}
.footer > p{
    color: white;
    font-size: small;
    padding: 30px;
    margin: 30px;
    margin-bottom: 0px;
    text-align: left;
}
.links{
    display: flex;
    margin-right: 105px;
}
.footer_contact{
    margin: 0px 15px;
}
span{
    margin-left: 42px;
}